<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <div>
        <h1><a href="/">Django blog</a></h1>
    </div>

    <div>
        <p>published: 14.03.2022</p>
        <h2>
            <a href="">My first post</a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos dolor at, exercitationem consequatur eum hic tempore similique quas aperiam esse harum, adipisci aliquid libero necessitatibus nesciunt culpa facere voluptas blanditiis.</p>
        </h2>
    </div>

    <div>
        <h2>
            <a href="#">My second post</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptate consequuntur delectus, aspernatur, consequatur incidunt dolorum eius dolorem quidem et molestiae voluptatem quibusdam molestias error provident. Voluptas harum suscipit fugiat?
            </p>
        </h2>
        
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5Q48Uvb8I5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        <p>
            can't show!
        </p>
    </iframe>
    <video src="still_breathing.mp4" controls></video>
</body>
</html>